<div class="header-page">
	<p>
		You can message me on Twitter or write me an internet letter. I'm available on less wrong, starslate codex, reddit, and hacker news under the same handle.
	</p>
	<div class="contactlinks">
		<a class="slidelink contactlinks-link contactlinks-twitter" href="https://twitter.com/rayraegah">
			<span class="slidelink-label contactlinks-label" data-label="t">t</span>
		</a><a class="slidelink contactlinks-link contactlinks-email" href="mailto:rayraegah@icloud.com">
			<span class="slidelink-label contactlinks-label" data-label="e">e</span>
		</a>
	</div>
</div>
