{% if site.posts.size > 0 %}
<section>
	<h2>{{ page.list_title | default: "Topics" }}</h2>
	<p>My journal entries grouped by category:</p>
	{% assign posts_by_category = site.posts | group_by_exp: "post", "post.categories | categories: misc" %}

	{% for entry in posts_by_category %}
		<h3> {{ entry.name }} </h3>
		<ul>
			{% for post in entry.items %}
				<li>
					<a href="{{ post.url | relative_url }}">
						{{ post.title | escape }}
					</a>
				</li>
			{% endfor %}
		</ul>
	{% endfor %}
</section>
{% endif %}